extends layout

block content
  h1 Darius' RESTful API
  h2 Time Micro-service
  p.red Example usage
  code localhost:3000/June 3, 2017
  br
  code localhost:1496469583

  p.red Expected output
  code { "unix": 1496469583, "natural": June 3, 2017}