extends layout

block content
  h1 Darius' RESTful API
  h2 Time Micro-service
  p.red Example usage
  code https://dariustimestamp.herokuapp.com/June 3, 2017
  br
  code https://dariustimestamp.herokuapp.com/1496469583

  p.red Expected output
  code { "unix": 1496469583, "natural": June 3, 2017}